body {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
}

hr.divider {
  border-color: rgba(146, 219, 154, 0.8);
  border-width: 0.2rem;
  max-width: 4rem;
}

.navbar {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
}

.head {
  background: linear-gradient(to bottom, rgba(69, 84, 70, 0.8) 0%, rgba(14, 98, 38, 0.8) 100%);
  height: 100vh;
  min-height: 40rem;
  padding-bottom: 0;
  padding-top: 4.5rem;
}

.page-section {
  padding: 8rem 0;
}

.h-100 {
  height: 100%;
}

.img-animal {
  width: 240px;
  height: 200px;
  object-fit: cover;
}
